
<div class="wrapper">
  <div class="sidenav">
    <div class="logo">
      <img src="https://www.kychub.com/hubfs/kyc%20hub%20logo.png" width="100%" alt="kyc hub logo">
    </div>
    
    <ul>
      <li>
        <a href="#" routerLink="/home" routerLinkActive="active" #home="routerLinkActive">
          <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
          <span class="item">Home</span>
      </a>
      </li>
      <li>
        <a href="#" routerLink="/aml" routerLinkActive="active" #aml="routerLinkActive">
          <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
          <span class="item">AML Check</span>
      </a>
      </li>
      <li>
        <a href="#" routerLink="/onboarding" routerLinkActive="active" #onboarding="routerLinkActive">
          <span class="icon"><i class="fa fa-tasks" aria-hidden="true"></i></span>
          <span class="item">OnBoarding</span>
      </a>
      </li>
      <li>
        <a href="#" routerLink="/risk" routerLinkActive="active" #riskpolicy="routerLinkActive">
          <span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>
          <span class="item">Risk Policy</span>
      </a>
      </li>
      <li>
        <a href="#" routerLink="/reports" routerLinkActive="active" #reports="routerLinkActive">
          <span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>
          <span class="item">Reports</span>
      </a>
      </li>
      <li>
        <a href="#" routerLink="/settings" routerLinkActive="active" #settings="routerLinkActive">
          <span class="icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
          <span class="item">Settings</span>
      </a>
      </li>
      <li>
        <a href="#" routerLink="/billing" routerLinkActive="active" #aml="routerLinkActive">
          <span class="icon"><i class="fa fa-eur" aria-hidden="true"></i></span>
          <span class="item">Billing</span>
      </a>
      </li>
      <li class="lasticon"> 
        <a href="#" routerLink="/faqs" routerLinkActive="active" #faqs="routerLinkActive" >
          <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
          <span class="item">FAQs</span>
      </a>
      </li>
    </ul>
  </div>
</div>
